<h1>Listing events</h1>

<table>
  <tr>
    <th class="url">Img url</th>
    <th>Title</th>
    <th>Date time</th>
    <th>Description</th>
    <th class="url">Signup link</th>
    <th class="change"></th>
    <th class="change"></th>
    <th class="change"></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td class="url"><%= event.img.url %></td>
    <td><%= event.title %></td>
    <td><%= event.date_time.strftime('%b %e, %l:%M %p') %></td>
    <td><%= event.description %></td>
    <td class="url"><%= event.signup_link %></td>
    <td class="change"><%= link_to 'Show', event %></td>
    <td class="change"><%= link_to 'Edit', edit_event_path(event) %></td>
    <td class="change"><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
