<p id="notice"><%= notice %></p>

<p>
  <b>Img url:</b>
  <%= @event.img_url %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Date time:</b>
  <%= @event.date_time %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Signup link:</b>
  <%= @event.signup_link %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
