<p id="notice"><%= notice %></p>

<p>
  <b>Img Url:</b>
  <%= @event.img.url %>
<p>
  <b>Img:</b>
  <%= image_tag @event.img.url %>
  <%= image_tag @event.img.url(:medium) %>
  <%= image_tag @event.img.url(:thumb) %>
</p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Date time:</b>
  <%= @event.date_time.strftime('%b %e, %l:%M %p') %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Signup link:</b>
  <%= @event.signup_link %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
