<h1>Guest Speakers</h1>
<%= link_to 'New Speaker', new_speaker_path %><br /><br />
<table>
  <tr>
    <th>Full name</th>
    <th>Screen name</th>
    <th>Job title</th>
    <th class="url">Profile img url</th>
    <th>Bio</th>
    <th>Position</th>
    <th class="change"></th>
    <th class="change"></th>
    <th class="change"></th>
  </tr>

<% @speakers.each do |speaker| %>
  <tr>
    <td><%= speaker.full_name %></td>
    <td><%= speaker.screen_name %></td>
    <td><%= speaker.job_title %></td>
    <td class="url"><%= speaker.profile_img_url %></td>
    <td><%= speaker.bio %></td>
    <td><%= speaker.position %></td>
    <td class="change"><%= link_to 'Show', speaker %></td>
    <td class="change"><%= link_to 'Edit', edit_speaker_path(speaker) %></td>
    <td class="change"><%= link_to 'Destroy', speaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Speaker', new_speaker_path %>
